.textfields{
    border:2px solid rgb(0,0,0,0.6);
    border-radius: 20px;
    font-size: 20px;
    width: 300px;
    height:30px;
    outline: none;
    padding: 5px;
    padding-left: 10px;
    opacity: 0.7;
}
.searchBar
{
    width:100%;
}

.textfields:hover
{
    border:2px solid rgb(0,0,0,0.6);
    
}
.searchIcon
{
    margin-top:10px;
    margin-left:10px;
    padding-top: 20px;
    opacity: 0.6;
}
.searchIcon:hover
{
    cursor: pointer;
}
.shopingCart
{
    width: 20%;
    margin: 5px;
}

.moveTop
{   
    transform: translateX(0px);
    transform: translateY(0px);
    transform: translate(0px,-40px);
    margin-top: 600px;
    position: absolute;
    position: fixed;
    transition: transform 1s;
    z-index: 900;
    overflow-x: hidden;
}

.moveTop2
{
    margin-top: 600px;
    position: absolute;
    position: fixed;
    transition: transform 1s;
    transform: translate(1000px,-500px);
    z-index: 900;
    overflow-x: hidden;
}