
.underRecentMainTitle
{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-bottom: 5px;
    opacity: 0.9;
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
}
.underRecentContainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 30px;
}
.underRecentNotes
{
    opacity: 0.7;
    margin-top: -10px;
}
.underRecentGrid
{
    margin:'50px';
    max-width: 300px;
}
.underRecentTitle
{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-bottom: 5px;
    opacity: 0.9;
}
@media screen and (max-width:800px) {
    .underRecentContainer
        {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
        }
}